
<div class="container" id="body">
<div class="hero-unit">

      <h1>Password Generator</h1>
      <br>


<textarea class="form-control" id="mytextarea" rows="3"></textarea>
<input class = "btn btn-primary" id="clickMe" type="button" value="Generate Password" onclick="testfunction();" />
<br>
<br>
<p>Random 8 digit number: <%=randomnums()%></p>

<br>

<p>Random 8 letter string: <%=randomletters()%></p>

<br>

<p>Random 8 letter/number string: <%=randomletternum()%></p>

</div>
    </div><!-- /.container -->


    




<script type="text/javascript">









  function testfunction(){
  

    document.getElementById("mytextarea").value = "You clicked the button";
     


}


</script>



























    <!-- Bootstrap core JavaScript



    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="../../dist/js/bootstrap.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="../../assets/js/ie10-viewport-bug-workaround.js"></script>
